
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <form method="POST">
        <input type="text" name="name" value="" ng-model="name" placeholder="User Name" />
        
        <input type="password" name="password" value="" ng-model="password" placeholder="Password" />
        <button class="btn btn-sm btn-primary" ng-click="attemptLogin()"><i class="glyphicon glyphicon-log-in"></i> LogIn</button>
    </form>
</div>
