    <div class="modal-header">
            <h3 class="modal-title">Data saved!</h3>
        </div>
        <div  class="modal-body">
       <div>
 <p ng-show="items.createdStations.length > 0">Successfully added stations:</p>
            <ul>
                <li ng-repeat="item in items.createdStations">
                    {{ item }}
                </li>
            </ul>
 <p ng-show="items.wrongStations.length > 0">Wrong added stations:</p>
            <ul>
                <li ng-repeat="item in items.wrongStations">
                    {{ item }}
                </li>
            </ul>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>