

  <div class="row">
  <div class="span9">
      
      <input type="text" ng-model="filterStation" class="form-control search header-elements-margin" placeholder="Filter Stations">
      <div ng-show="loading" class="loading text-center"><img src="img/ajax-loader.gif" alt=""/>LOADING...</div>
      
      
      <table class="table table-striped">
          <thead><tr><th>#</th><th>Station name</th><th>IP Address</th><th>Full contact</th><th></th></tr></thead>
          <tbody>
            
      <tr ng-repeat="station in sipStations | filter : filterStation | orderBy : station.ID">
              <td>{{station.ID}}</td><td>{{station.NAME}}</td><td>{{station.IPADDR}}</td><td>{{station.FULLCONTACT}}</td>
              <td> <button type="button"  class="btn btn-sm btn-danger" ng-click="removeDevice(station.ID,station.NAME)"><i class="glyphicon glyphicon-remove-circle" ></i>&nbsp;Delete</button></td>
          </tr>
          </tbody>
      </table>
      
</div>
  </div>
 