<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-md-2">

<div class="stat-view stat-status-OK">
     <div class="overlay">
    <div class="stat-header">
       
        <h3>CPU</h3></div>
    <div class="stat-body text-center">85%</div>
    
    </div>
</div>
       </div><!--   end of stat view col-->
       <div class="col-md-2">

<div class="stat-view stat-status-OK">
     <div class="overlay">
    <div class="stat-header">
       
        <h3>Active calls</h3></div>
    <div class="stat-body text-center">{{activeCalls}}</div>
    
    </div>
</div>
       </div><!--   end of stat view col-->
       <div class="col-md-2">

<div class="stat-view stat-status-OK">
     <div class="overlay">
    <div class="stat-header">
       
        <h3>Registrations</h3></div>
    <div class="stat-body text-center">{{onlinePeers}}</div>
    
    </div>
</div>
       </div><!--   end of stat view col-->
       
    </div>